{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="h2">Modifier une catégorie</h1>
    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

{% endblock %}