{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="h2">Nouvelle catégorie</h1>
    {{ include('category/_form.html.twig') }}
</div>

{% endblock %}