{% extends 'base.html.twig' %}

{% block title %}Contactez l'administrateur{% endblock %}

{% block body %}
<div style="width: 500px; max-width: 100%;" class="container">
    <h1 class="h3">Contactez l'administrateur</h1>
    <div class="mt-3">
        {{ include('contact/_form.html.twig') }}
    </div>
</div>
{% endblock %}
